

.survey-comment {
	margin-bottom: 35px;
}

.survey-comment-text {
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	color: rgb(77, 77, 77);
	font-weight: normal;
	font-style: normal;
}

.survey-progress-bar-remaining {
	background-color: rgb(255, 255, 255);
}

.survey-button {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-weight: normal;
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	border-width: 0px;
	border-style: solid;
	border-color: rgb(239, 239, 239);
	background-color: rgb(102, 102, 102);
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	box-shadow: 1px 1px 0px 0px #7F7F7F;
	-webkit-box-shadow: 1px 1px 0px 0px #7F7F7F;
	-moz-box-shadow: 1px 1px 0px 0px #7F7F7F;
}

.survey-button:hover {
	color: rgb(255, 255, 255);
	border-color: ;
	background-color: rgb(77, 77, 77);
}

.survey-footer-text a {
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	color: rgb(102, 102, 102);
	font-weight: normal;
	font-style: normal;
}

.survey-footer-text a:hover {
	color: rgb(77, 77, 77);
}

.survey-page {
	background-color: rgb(230, 230, 230);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
}

.survey-page-content {
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(204, 204, 204);
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	box-shadow: 0px 0px 0px 0px #999999;
	-webkit-box-shadow: 0px 0px 0px 0px #999999;
	-moz-box-shadow: 0px 0px 0px 0px #999999;
}

.survey-progress {
	margin-bottom: 25px;
}

.survey-progress-align {
	float: right;
}

.survey-progress-bar-borders {
	border-style: solid;
	border-color: rgb(102, 102, 102);
}

.survey-progress-bar {
	height: 10px;
}

.survey-progress-bar-completed {
	background-color: rgb(102, 102, 102);
}

.survey-progress-text {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: rgb(102, 102, 102);
	font-weight: normal;
	font-style: italic;
}

.survey-q-grid .even td {
	background-color: rgb(255, 255, 255);
}

.survey-q-grid .odd td {
	background-color: rgb(230, 230, 230);
}

.survey-q-grid .survey-q-grid-cell-clickable-hover, .survey-q-grid .survey-q-grid-cell-clickable:hover {
	background-color: rgb(242, 242, 242);
}

.survey-q-grid .survey-q-grid-collegend {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: rgb(77, 77, 77);
	font-weight: normal;
	font-style: normal;
	background-color: rgb(230, 230, 230);
}

.survey-q-grid .survey-q-grid-rowlegend {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: rgb(77, 77, 77);
	font-weight: normal;
	font-style: normal;
}

.survey-q-grid td.element {
	padding-top: 3px;
	padding-bottom: 3px;
}

.survey-q-grid th, .survey-q-grid td {
	border-style: solid;
	border-color: rgb(219, 219, 210);
}

.survey-q-instructions {
	margin-bottom: 5px;
}

.survey-q-instructions-text {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: rgb(77, 77, 77);
	font-weight: normal;
	font-style: italic;
}

.survey-q-question {
	margin-bottom: 10px;
}

.survey-q-question-text {
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	color: rgb(77, 77, 77);
	font-weight: normal;
	font-style: normal;
}

/* AQ Colors */
.survey-theme-colors {
	color: rgb(255, 252, 255);
	background-color: rgb(122, 122, 122);
}

.survey-theme-colors-disabled {
	color: rgb(176, 176, 176);
	background-color: rgb(222, 222, 222);
}

.survey-theme-colors-selected {
	color: rgb(255, 252, 255);
	background-color: rgb(74, 72, 74);
}